# python
*.egg-info/
__pycache__/

# logs
*.json
*.jsonl
checkpoints/
wandb/*

*.log
*.slurm
dejavu/
*.err

*.jpeg

wandb/
train_ckpt/
data/
slurm_logs/

output/
SFTvsRL_DATA/VIRL_routes/VLN_mini.zip
SFTvsRL_DATA/VIRL_routes/nyc_1k_routes.zip
.gitignore
SFTvsRL_DATA/.gitattributes
scripts/config_zero2_8gpu_old.yaml
SFTvsRL_DATA/README.md
